importFrom("grDevices", "dev.cur", "dev.new", "dev.next", "dev.set")
importFrom("graphics", "axis", "lines", "par", "points", "title")
importFrom("stats", "cov", "dist", "median", "model.matrix", "optimize", "pbeta", "ppoints", "predict", "smooth.spline","var")
export(cleanp, sta, staLMM, met, metLMM, ammi, index, rgg, pgg,
       cleanm, cleanr, grm, nrm, ocs, gwas, gpr, pca, pca2,
       traitNames, preds, metrics,
       idGenerator, setDB, desire
       )


